*{
    box-sizing: border-box;
}
body{
    background-color: #eef9bf;
    font-family: arial;
    padding: 40px;
}

h1{
    color: #75B79E;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
}
/*Inicio da estilização das cartas*/
ul{
    padding: 0 0 0 34px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
li{
    background: #A7E9AF;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center;
    margin-top: 34px;
    margin-right: 34px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    width: 117px;
    height: 146px;

    transition: all 400ms linear;
}
/*Fim da estilização das cartas*/
/*Inicio da estilização do efeito da carta*/
.bobross{
    background-image: url(img/bobrossparrot.gif);
}
.explody{
    background-image: url(img/explodyparrot.gif);
}
.fiesta{
    background-image: url(img/fiestaparrot.gif);
}
.metal{
    background-image: url(img/metalparrot.gif);
}
.revertit{
    background-image: url(img/revertitparrot.gif);
}
.triplets{
    background-image: url(img/tripletsparrot.gif);
}
.unicorn{
    background-image: url(img/unicornparrot.gif);
}
.carta{
    background-image: url(img/front.png);
    transform: rotatey(180deg);
}
/*Fim da estilização do efeito da carta*/
/*Inicio estilização do contador*/
.posiçao-do-contador{
    width: 100%;
    display: flex;
    justify-content: end;
}
.contador{
    background-color: black;
    color: white;
    font-size: 50px;
    width: 80px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgb(115, 164, 141);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Fim estilização do contador*/
/*Inicio da estilização no mobile*/
@media(max-width: 320px){
    h1{
        font-size: 36px;
    }
    body{
        padding-left: 0;
        padding-right: 0;
    }
    ul{
        padding: 0;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    li{
        margin-right: 0;
    }

    .contador{
        font-size: 30px;
        width: 60px;
        height: 40px;
        margin-right: 20px;
    }
}
/*Fim da estilização no mobile*/